@if (getLoginInfo()) {
<div>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm"
  >
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#"> PHARMACY APP </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto my-2 my-lg-0">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
        <h5 (click)="logout()" class="ms-3 mb-0 fw-semibold text-secondary">
          D
        </h5>
      </div>
    </div>
  </nav>

  <div class="app-layout">
    <div class="sidebar text-light p-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-1">
          <a class="nav-link text-white hover-nav" routerLink="home">
            Home
          </a>
        </li>

        <li class="nav-item mb-1">
          <a
            class="nav-link text-white hover-nav"
            routerLink="patient-registration"
          >
            Patient Registration
          </a>
        </li>

        <li class="nav-item mb-1">
          <a class="nav-link text-white hover-nav" routerLink="edit-patient">
            Edit Patient
          </a>
        </li>

        <li class="nav-item mb-1">
          <a
            class="nav-link text-white hover-nav"
            routerLink="inventory"
          >
            Inventory
          </a>
        </li>

        <li class="nav-item mb-1">
          <a class="nav-link text-white hover-nav" routerLink="new-order">
            New Order
          </a>
        </li>
        <li class="nav-item mb-1">
          <a
            class="nav-link text-white hover-nav"
            routerLink="patient-registration"
          >
            Update Order
          </a>
        </li>

        <li class="nav-item mb-1">
          <a class="nav-link text-white hover-nav" routerLink="edit-patient">
            Billing
          </a>
        </li>
        <li class="nav-item mb-1">
          <a
            class="nav-link text-white hover-nav"
            routerLink="patient-registration"
          >
            Cash Receipt
          </a>
        </li>

        <li class="nav-item mb-1">
          <a class="nav-link text-white hover-nav" routerLink="edit-patient">
            Stock
          </a>
        </li>
        <li class="nav-item mb-1">
          <a
            class="nav-link text-white hover-nav"
            routerLink="patient-registration"
          >
            Sold Orders
          </a>
        </li>

        <li class="nav-item mb-1">
          <a class="nav-link text-white hover-nav" routerLink="settings">
            Settings
          </a>
        </li>
      </ul>
    </div>

    <main class="content p-2">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
} @else {
<app-login-user></app-login-user>
}
