@if (inventoryForm) {
<mat-card style="padding: 12px; margin-bottom: 12px">
  <form [formGroup]="inventoryForm">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Invoice Date </mat-label>
            <input
              matInput
              [matDatepicker]="datePicker"
              placeholder="Invoice Date"
              formControlName="invoiceDate"
            />
            <mat-hint> MM/DD/YYYY </mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Supplier </mat-label>
            <mat-select placeholder="Supplier" formControlName="supplierCode">
              @for(codeValue of supplierCodeList; track codeValue.code){
              <mat-option [value]="codeValue.code">
                {{ codeValue.value }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Invoice number </mat-label>
            <input
              matInput
              placeholder="Invoice number"
              formControlName="invoiceNumber"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Invoice Amount </mat-label>
            <input
              matInput
              placeholder="Invoice Amount"
              formControlName="invoiceAmount"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Discount Perc </mat-label>
            <input
              matInput
              type="number"
              placeholder="Discount Perc"
              formControlName="discountAmount"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Discount Amount </mat-label>
            <input
              matInput
              type="number"
              placeholder="Discount Amount"
              formControlName="discountPerc"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Net Amount </mat-label>
            <input
              matInput
              type="number"
              placeholder="Net Amount"
              formControlName="netAmount"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> Notes </mat-label>
            <input matInput placeholder="Notes" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-card>
}

<mat-card style="padding: 12px; margin-bottom: 12px">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label> Search for all Drugs - type - HSNcode </mat-label>
        <input
          matInput
          placeholder="Search for all Drugs - type - HSNcode"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto>
          @for (codeValue of drugList; track codeValue.id) {
          <mat-option (click)="onAutoCompleteSelect(codeValue)">
            {{ codeValue.name }} - {{ codeValue.type }} -
            {{ codeValue.hsnCode }}</mat-option
          >
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col"></div>
  </div>

  <div style="display: flex; gap: 12px; justify-content: flex-end">
    <button
      mat-raised-button
      color="warn"
      [disabled]="!(this.selectedRows.length === 1)"
      (click)="deleteItem()"
    >
      Delete
    </button>
  </div>
  <br />
  <div>
    <ag-grid-angular
      #agGrid
      class="ag-theme-alpine"
      style="height: 250px; width: 100%"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      theme="legacy"
      (selectionChanged)="selectionChanged($event)"
      rowSelection="single"
      [singleClickEdit]="true"
      [stopEditingWhenCellsLoseFocus]="true"
    ></ag-grid-angular>
  </div>
</mat-card>

 

<div style="float: right">
  <button mat-raised-button (click)="submitOrder()">Submit</button>
</div>

<br />
<br />
<br />
